*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
}

#intestazione{
    width: 100%;
    height: 80px;
    background-color: white;
    line-height: center;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.intestazione, h1{
    display: inline-block;
}

.nav{
    width: 900px;
    height: 80px;
    background-color: white;
    padding: 35px 5px;
    margin: 0 auto;
    margin-bottom: 5px; 
    border-radius: 5px 5px 0 0;
    line-height: center;
}

.bottone {
    width: 80px;
    height: 30px;
    margin: 10px 15px; 
    padding: 8px 5px; 
    border-radius: 15px;
    font-size: 12px;
    line-height: normal;
    text-align: center; 
    vertical-align: top;  
    /* alignment-baseline: middle; */
}

.nav-1{  
    padding: 5px;    
    background-color: blue;
    color: white;   
}

.nav-2{
    background-color: white;
    color: blue ;
    border: 1px solid blue;
}

.special{
    border-radius: 5px;
}

.container{
    box-sizing: border-box; 
    padding-top: 40px;
    padding-left: 50px;
    margin-top: 10px;
    width: 900px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    line-height: center;
}

.main-sezioni{
    width: 900px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 50px;
}

.raw{
    display: inline-block;
}

.margine-blue{
    background-color: lightblue;
    display: inline-block;
    line-height: center;
}

.margine-green{
    background-color: green;
    display: inline-block;
}

.margine-orange{
    background-color: rgb(255, 72, 0);
    display: inline-block;
}

.margine-yellow{
    background-color: yellow;
    display: inline-block;
}

/* .icon{
    display: inline-block;
} */
