*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
}

#intestazione{
    width: 100%;
    height: 60px;
    background-color: white;
    
}

.intestazione, h1{
    display: inline-block;
}

.container{
    /* padding-left: 50px; */
    /* box-sizing: border-box; */
    padding-left: 50px;
    margin-top: 30px;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    background-color: red;
    margin-top: 25px;
}

.intestazione-nav{
    width: 100%;
    height: 50px;
    background-color: white;
    
    /* margin-bottom: 4px; */
}

.nav-1{   
    width: 20px;
    height: 10px;
    margin: 5px;
    padding:3%; 
    background-color: blue;
    color: white;
    border-radius: 5%;
}

.nav-2{
    margin: 5px;
    padding: 3%; 
    background-color: white;
    color: blue ;
    border-radius: 5%;
}

.pulsante-margine-destro-blue{
    width: 30px;
    height: 20px;
    background-color: lightblue;
    font-size: 8px;
    border-radius: 5%;
    display: inline-block;
}

.pulsante-margine-destro-green{
    width: 30px;
    height: 20px;
    background-color: green;
    font-size: 8px;
    border-radius: 5%;
    display: inline-block;
}

.pulsante-margine-destro-orange{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 72, 0);
    font-size: 8px;
    border-radius: 5%;
    display: inline-block;
}

.pulsante-margine-destro-yellow{
    width: 30px;
    height: 20px;
    background-color: yellow;
    font-size: 8px;
    border-radius: 5%;
    display: inline-block;
}

/* 
.icona-lista{
    content: url("");
} */

.item-lista{
    list-style: url("114283334-simbolo-del-segno-di-spunta-icona-della-casella-di-controllo.webp")
}

